.hidden
{
    display: none;
}

/* 789 */
/* 456 */
/* 123 */
.area1
{
    align-self: flex-end;
}
.area2
{
    align-self: flex-end;
    text-align: center;
}
.area3
{
    align-self: flex-end;
    text-align: right;
}
.area4
{
    align-self: center;
}
.area5
{
    align-self: center;
    text-align: center;
}
.area6
{
    align-self: center;
    text-align: right;
}
.area8
{
    text-align: center;
}
.area9
{
    text-align: right;
}

/* ons-list-header */
.fixed
{
    position: fixed;
    width: 100vw;
    z-index: 10;
}

/* ons-list-item(オーバーライド) */
.list-item__center
{
    padding: 6px 6px 6px 0;
}

/* ons-row */
.expand
{
    padding-right: 28px;
}
.notexpand
{
    padding-right: 5px;
}

/* expandable(オーバーライド) */
.list-item__expand-chevron
{
    border-color: #ffa101;
}

/* toolbar-button(オーバーライド) */
.toolbar-button
{
    font-weight: 900;
}
/* リンクテキスト用 */
a:link
{
    color: lawngreen;
}
a:visited
{
    color: lightgreen;
}

/* デバッガー用 */
::-webkit-scrollbar
{
    display: none;
}
