.scroller
{
    width: 0;
    overflow-x: scroll;
    white-space: nowrap;
}
.fixed
{
    position:fixed;
    width:100%;
    z-index:10;
}
.hidden
{
    display: none;
}
a:link
{
    color: lawngreen;
}
a:visited
{
    color: lightgreen;
}
.list-item__center
{
    padding: 6px 6px 6px 0;
}
